<h1>Random Results</h1>

<dl> 
<dt>Minimum</dt>
<dd><%= @the_user_min%></dd>


<dt>Maximum</dt>
<dd><%= @the_user_max%></dd>

<dt>Random number</dt>
<dd><%= @random_number_new%></dd>

</dl>

<a href="/random/new"> Pick another random number</a>